.redLight{
    box-shadow: 0 1rem 4rem red;
}

.yellowLight{
    box-shadow: 0 1rem 4rem yellow;
}


.greenLight{
    box-shadow: 0 1rem 4rem green;
}

.purpleLight{
    box-shadow: 0 1rem 4rem purple;
}

